body{
    font-family: 'Open Sans Condensed';
    /* overall padding  */
    padding: 20px 60px;
}

    /* links in header */
a{
    text-decoration: none;
    color: black;
}

* {
    box-sizing: border-box;
}